PORT=3000

DATABASE_TYPE=mysql
DATABASE_MASTER_HOST=127.0.0.1
DATABASE_MASTER_PORT=33063
DATABASE_MASTER_USERNAME=root
DATABASE_MASTER_PASSWROD=test
DATABASE_MASTER_NAME=dev_db

DATABASE_SLAVES_HOST=127.0.0.1,127.0.0.1
DATABASE_SLAVES_PORT=33063,33063
DATABASE_SLAVES_USERNAME=root,root
DATABASE_SLAVES_PASSWROD=test,test
DATABASE_SLAVES_NAME=dev_db,dev_db

